<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GESTION DE FACULTADES</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger"> 
    <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_authenticated %}
              {{ user.first_name }} {{ user.last_name }}
            {% else %}
              Nombre del Usuario
            {% endif %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">Cerrar Sesión</button>
              <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Informacion de Usuario</a>

            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container mt-4">
    <h1>Añadir y Modificar Facultades</h1>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="faculty_id" id="faculty_id" value="{% if faculty_to_edit %}{{ faculty_to_edit.id }}{% endif %}">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre de la Facultad:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" value="{% if faculty_to_edit %}{{ faculty_to_edit.name }}{% endif %}" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="acronym" class="col-sm-2 col-form-label">Acrónimo:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="acronym" name="acronym" value="{% if faculty_to_edit %}{{ faculty_to_edit.acronym }}{% endif %}" required>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success">GUARDAR</button>
    </form>

    <h1 class="mt-4">Facultades Existentes</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre de la Facultad</th>
            <th>Acrónimo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for faculty in faculties %}
          <tr data-faculty-id="{{ faculty.id }}" data-faculty-name="{{ faculty.name }}" data-faculty-acronym="{{ faculty.acronym }}">
            <td>{{ faculty.name }}</td>
            <td>{{ faculty.acronym }}</td>
            <td>
              <button type="button" class="btn btn-link btn-edit" data-faculty-id="{{ faculty.id }}">
                Editar
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
        $('table tbody tr').on('click', function () {
            var id = $(this).data('faculty-id');
            var name = $(this).data('faculty-name');
            var acronym = $(this).data('faculty-acronym');

            $('#faculty_id').val(id);
            $('#name').val(name);
            $('#acronym').val(acronym);
        });
    });
  </script>
</body>
</html>