<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GESTION DE NODOS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger"> 
    <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_authenticated %}
              {{ user.first_name }} {{ user.last_name }}
            {% else %}
              Nombre del Usuario
            {% endif %}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="dropdown-item">Cerrar Sesión</button>
              <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Informacion de Usuario</a>

            </form>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-4">
    <h1>Añadir nuevos puntos</h1>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="point_id" id="point_id" value="{% if point_to_edit %}{{ point_to_edit.id }}{% endif %}">
      <div class="form-group">
        <label for="name">Nombre del Punto:</label>
        <input type="text" class="form-control" id="name" name="name" value="{% if point_to_edit %}{{ point_to_edit.name }}{% endif %}" required>
      </div>
      <div class="form-group">
        <label for="longitude">Altitud:</label>
        <input type="text" class="form-control" id="longitude" name="longitude" value="{% if point_to_edit %}{{ point_to_edit.longitude }}{% endif %}" required>
      </div>
      <div class="form-group">
        <label for="latitude">Latitud:</label>
        <input type="text" class="form-control" id="latitude" name="latitude" value="{% if point_to_edit %}{{ point_to_edit.latitude }}{% endif %}" required>
      </div>
      <div class="form-group">
        <label for="faculty">Facultad:</label>
        <select class="form-control" id="faculty" name="faculty">
          {% for faculty in faculties %}
            <option value="{{ faculty.id }}" {% if point_to_edit and point_to_edit.faculty.id == faculty.id %}selected{% endif %}>{{ faculty.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="description">Descripción:</label>
        <input type="text" class="form-control" id="description" name="description" value="{% if point_to_edit %}{{ point_to_edit.description }}{% endif %}">
      </div>
      <div class="form-group">
        <label for="status">Estado:</label>
        <input type="hidden" id="status" name="status" value="0"> 
        <input type="checkbox" id="statusCheckbox" name="status" {% if point_to_edit and point_to_edit.status %}checked{% endif %}>
      </div>
      <br>
      <button type="submit" class="btn btn-success">GUARDAR</button>
    </form>

    <h1 class="mt-4">Puntos Existentes</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre del punto</th>
            <th>Altitud</th>
            <th>Latitud</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for point in points %}
          <tr data-point-id="{{ point.id }}" data-point-name="{{ point.name }}" data-point-longitude="{{ point.longitude }}" data-point-latitude="{{ point.latitude }}" data-point-faculty="{{ point.faculty.id }}" data-point-status="{{ point.status }}" data-point-description="{{ point.description }}">
            <td>{{ point.name }}</td>
            <td>{{ point.longitude }}</td>
            <td>{{ point.latitude }}</td>
            <td>{{ point.description }}</td>
            <td>{{ point.status_label }}</td>
            <td>
              <button type="button" class="btn btn-link btn-activate" data-point-id="{{ point.id }}" data-point-status="{{ point.status }}">
                {% if point.status %}
                  Desactivar
                {% else %}
                  Activar
                {% endif %}
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
        $('table tbody tr').on('click', function () {
            var id = $(this).data('point-id');
            var name = $(this).data('point-name');
            var longitude = $(this).data('point-longitude');
            var latitude = $(this).data('point-latitude');
            var facultyId = $(this).data('point-faculty');
            var status = $(this).data('point-status');
            var description = $(this).data('point-description');

            $('#point_id').val(id);
            $('#name').val(name);
            $('#longitude').val(longitude);
            $('#latitude').val(latitude);
            $('#faculty').val(facultyId);
            $('#description').val(description);
            $('#statusCheckbox').prop('checked', status);
        });

        $('.btn-activate').on('click', function () {
            var pointId = $(this).data('point-id');
            var currentStatus = $(this).data('point-status');
            
            $.ajax({
                type: 'POST',
                url: '/activatePoint/',
                data: { point_id: pointId, status: currentStatus ? '0' : '1' },
                success: function (data) {
                    $(`tr[data-point-id="${pointId}"] td:nth-child(5)`).text(data.new_status);
                    $(this).data('point-status', !currentStatus);
                    $(this).text(data.new_status === 'Activado' ? 'Desactivar' : 'Activar');
                },
                error: function (error) {
                    console.log('Error en la solicitud AJAX:', error);
                }
            });
        });
    });
  </script>
</body>
</html>
