<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Página de Gestión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <style>
        body {
            background-image: url('https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg');
            background-size: cover;
            margin: 0;
            padding: 0;
            color: white;
        }

        .container {
            margin-top: 5%;
        }

        .logout-btn {
            background-color: #d9534f;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .logout-btn:hover {
            background-color: #c9302c;
        }

        .welcome-text {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .btn-custom {
            background-color: #007bff;
            color: white;
            margin-bottom: 10px;
            width: 100%;
        }

        .btn-custom:hover {
            background-color: #0056b3;
        }

        /* Estilos adicionales para pantallas pequeñas */
        @media (max-width: 768px) {
            .col-md-9 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col-md-3 {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
                margin-top: 20px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            Nombre del Usuario
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                            <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Informacion de Usuario</a>

                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9">
                <h1>Bienvenido, {{ user.first_name }}</h1>
            </div>
        </div>

        <p class="welcome-text">
            Esta es la página de gestión, elija lo que desee gestionar
        </p>

        <div class="row">
            <div class="col-md-4">
                <a href="/addFaculty" class="btn btn-custom">Gestión de Facultades</a>
            </div>
            <div class="col-md-4">
                <a href="/userManagement" class="btn btn-custom">Gestión de Usuarios</a>
            </div>
            <div class="col-md-4">
                <a href="/addPoint" class="btn btn-custom">Gestión de Nodos</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="/upload_emergency_plan" class="btn btn-custom">Subir pdf</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="/mapaAdmin" class="btn btn-custom">GRAFO</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="/panel_informativo" class="btn btn-custom">Gestión de Panel Informativo</a>
            </div>
            <div class="col-md-6">
                <a href="/" class="btn btn-custom">IR A PAGINA PRINCIPAL</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>