<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cambiar Contraseña</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <h1 class="text-center">Cambiar Contraseña</h1>
    
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% else %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    
    <form method="post" action="{% url 'changePassword' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="old_password">Contraseña Actual:</label>
        <input type="password" class="form-control" id="old_password" name="old_password" required>
      </div>
      <div class="form-group">
        <label for="new_password1">Nueva Contraseña:</label>
        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
      </div>
      <div class="form-group">
        <label for="new_password2">Confirmar Nueva Contraseña:</label>
        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Guardar Nueva Contraseña</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>