<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Puntos</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        canvas {
            background-color: white;
        }
    </style>
</head>

<body>
    <canvas id="myChart" width="800" height="400"></canvas>

    <script>
        // Supongamos que 'points_data' es un diccionario de Python convertido a JSON.
        // Si 'points_data' es una cadena JSON válida, puedes utilizarla directamente.
        var pointsDataString = '{{ points_data|escapejs }}';
        
        // Imprimir la cadena JSON para verificar su estructura.
        console.log('pointsDataString:', pointsDataString);

        // Intentar analizar la cadena JSON.
        try {
            // Convertir la cadena JSON a un objeto JavaScript.
            var pointsData = JSON.parse(pointsDataString);

            // Imprimir los datos para verificar que se han analizado correctamente.
            console.log('pointsData:', pointsData);

            // Obtener el contexto del canvas.
            var ctx = document.getElementById('myChart').getContext('2d');
            console.log('ctx:', ctx);

            // Crear el gráfico utilizando Chart.js.
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: pointsData.map(point => point.name),
                    datasets: [{
                        label: 'Estado',
                        data: pointsData.map(point => point.status ? 1 : 0),
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                }
            });
        } catch (error) {
            // Capturar y manejar errores durante el análisis JSON.
            console.error('Error al analizar la cadena JSON:', error);
        }
    </script>
</body>

</html>
