<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>

    <style>
        body {
            background-image: url('https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg');
            background-size: cover;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 30px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            max-width: 400px; /* Ajusta el ancho del cuadro aquí */
            width: 100%;
            margin: 0 auto; /* Centra el cuadro en la pantalla */
        }

        h2 {
            color: #333;
            font-size: 32px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-size: 18px;
            color: #555;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 12px 20px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%; /* Hace que el botón sea de ancho completo */
        }

        button:hover {
            background-color: #0056b3;
        }

        .signup-link {
            margin-top: 20px;
            color: #333;
            font-size: 16px;
        }

        .signup-link a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

        .signup-link a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

<div class="container">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <h2>Iniciar Sesión</h2>

        <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="text" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Iniciar Sesión</button>

        <div class="signup-link">
            ¿No tienes una cuenta? <a href="{% url 'signup' %}">REGÍSTRATE</a>
        </div>
    </form>
</div>

</body>
</html>