<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Información</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: "Arial", sans-serif;
            padding-top: env(safe-area-inset-top, 56px); /* Altura de la barra de navegación */
            margin: 0; /* Ajuste del margen para abordar espacios innecesarios */
        }

        .container {
            max-width: 800px;
            margin: 20px auto; /* Ajuste de márgenes para centrar */
        }

        h1 {
            color: #333;
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
        }

        .informacion-item {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            padding: 15px;
            cursor: pointer; /* Agrega esta línea para que el cursor cambie al pasar sobre el elemento */
        }

        h2 {
            color: #007bff;
        }

        p {
            color: #555;
        }

        /* Estilos del modal */
        #previewModal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }

        #iframeContainer {
            width: 90%; /* Ajusta el ancho del modal según tus preferencias */
            max-width: 800px; /* Limita el ancho máximo del modal */
            height: 90%; /* Ajusta la altura del modal según tus preferencias */
        }

        #previewIframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #dc3545;">
        <a class="navbar-brand" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">Bienvenido, {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </button>
                        
                            <div class="dropdown-menu" aria-labelledby="userMenuDropdown">
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Cerrar sesión</button>
                                </form>
                                <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar</a>
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'adminPage' %}">Administración</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'informacion' %}">Panel Informativo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'brigadistaPage' %}">Brigadistas UNL</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'brigadistaPage' %}">Brigadistas UNL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'informacion' %}">Panel Informativo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Consejos para mantenerte seguro</h1>

        {% for item in informacion_items %}
        <div
            class="informacion-item"
            onclick="openPreviewModal('{{ item.link }}')"
        >
            <h2>{{ item.name }}</h2>
            <p>{{ item.link }}</p>
        </div>
        {% endfor %}
    </div>

    <div id="previewModal">
        <div id="iframeContainer">
            <iframe id="previewIframe" frameborder="0"></iframe>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function openPreviewModal(link) {
            $("#previewModal").css("display", "flex");
            $("#previewIframe").attr("src", link);
        }

        $("#previewModal").click(function () {
            $("#previewModal").hide();
            $("#previewIframe").attr("src", "");
        });
    </script>
</body>
</html>
