<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Otros encabezados -->

    <!-- Incluye Bootstrap desde la CDN -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Incluye el script de CKEditor desde la CDN -->
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

    <!-- Otros estilos o scripts si es necesario -->
    <style>
      /* Estilos adicionales para centrar el contenido del formulario */
      .container {
        margin-top: 30px;
      }

      .form-group {
        text-align: left;
        margin-bottom: 20px;
      }

      .form-label {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      #id_title {
        width: 50%;
        display: inline-block;
      }

      .description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .description-container label {
        margin-bottom: 10px;
      }

      #id_description {
        min-height: 160px;
        margin: 0 auto;
      }

      .btn-group {
        text-align: center;
        margin-top: 20px;
      }

      .btn-success {
        background-color: #28a745;
        border-color: #28a745;
        border-radius: 20px;
      }

      .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        border-radius: 20px;
      }

      .btn-link {
        color: #007bff;
        border-radius: 20px;
        padding: 0;
      }

      .btn-link:hover {
        text-decoration: underline;
      }

      /* Estilo del botón de editar */
      .btn-edit {
        color: #fff;
        background-color: #007bff;
        border: 1px solid #007bff;
        border-radius: 20px;
        padding: 8px 15px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s, border-color 0.3s, font-size 0.3s,
          transform 0.3s;
      }

      .btn-edit:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        text-decoration: none;
        font-size: 1.1em;
        transform: scale(1.1);
      }

      /* Estilo del combobox (estado) */
      #id_status {
        width: 10%;
        border: 1px solid #007bff;
        border-radius: 20px;
        padding: 8px;
        color: #007bff;
      }

      /* Resaltar la fila seleccionada */
      .selected-row {
        background-color: #cce5ff !important;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger"> 
      <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
          
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if user.is_authenticated %}
                {{ user.first_name }} {{ user.last_name }}
              {% else %}
                Nombre del Usuario
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Informacion de Usuario</a>

              </form>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1 class="text-center">Añadir nueva información</h1>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_title" class="form-label">Título: </label>
          {{ form.title }}
        </div>

        <div class="form-group text-center">
          <div class="description-container">
            <label for="id_description" class="form-label">Descripción: </label>
            {{ form.description }}
          </div>
        </div>

        <input type="hidden" name="id" id="informacion_id" value="" />

        <div class="form-group">
          <label for="id_status" class="form-label">Estado: </label>
          {{ form.status }}
        </div>

        <div class="btn-group">
          <button
            type="submit"
            class="btn btn-success"
            formaction="{% url 'panel_informativo' %}"
          >
            GUARDAR
          </button>
          <button type="button" class="btn btn-secondary" id="btn-cancel">
            CANCELAR
          </button>
        </div>
      </form>

      <hr />

      <h1 class="text-center">Información Existente</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for informacion_item in informacion_items %}
          <tr
            data-informacion-id="{{ informacion_item.id }}"
            data-informacion-title="{{ informacion_item.title }}"
            data-informacion-description="{{ informacion_item.description }}"
            data-informacion-status="{{ informacion_item.status }}"
          >
            <td>{{ informacion_item.title }}</td>
            <td>{{ informacion_item.description|safe }}</td>
            <td>
              {% if informacion_item.status %}
              <span class="badge badge-success">Activo</span>
              {% else %}
              <span class="badge badge-danger">Inactivo</span>
              {% endif %}
            </td>
            <td>
              <a
                href="#"
                class="btn-edit"
                data-informacion-id="{{ informacion_item.id }}"
                >Editar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        $("table tbody tr").on("click", function () {
          $("table tbody tr").removeClass("selected-row");

          var id = $(this).data("informacion-id");
          var title = $(this).data("informacion-title");
          var description = $(this).data("informacion-description");
          var status = $(this).data("informacion-status");

          $("#informacion_id").val(id);
          $("#id_title").val(title);
          CKEDITOR.instances.id_description.setData(description);

          $("#id_status option[value='" + status + "']").prop("selected", true);

          $(this).addClass("selected-row");
        });

        $("#btn-cancel").on("click", function () {
          $("#informacion_id").val("");
          $("#id_title").val("");
          CKEDITOR.instances.id_description.setData("");

          $("#id_status option[value='1']").prop("selected", true);

          $("table tbody tr").removeClass("selected-row");
        });

        CKEDITOR.replace("id_description");
      });
    </script>
  </body>
</html>