<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg');
            background-size: cover;
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: rgba(174, 174, 190, 0.85);
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-size: 18px;
            color: #fff;
        }

        input,
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 5px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 12px 20px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%;
        }

        button:hover {
            background-color: #0056b3;
        }

        .faculty-select {
            margin-top: 5px;
        }

        .messages {
            margin-bottom: 20px;
        }

        .alert {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <h2 class="text-white">Registrarse</h2>
        <form method="post" action="{% url 'signup' %}" class="needs-validation" novalidate>
            {% csrf_token %}

            <!-- DNI -->
            <div class="form-group">
                <label for="dni">DNI:</label>
                <input type="text" class="form-control" id="dni" name="dni" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu DNI.
                </div>
            </div>

            <!-- Nombre -->
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name" name="name" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu nombre.
                </div>
            </div>

            <!-- Apellido -->
            <div class="form-group">
                <label for="lastname">Apellido:</label>
                <input type="text" class="form-control" id="lastname" name="lastname" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu apellido.
                </div>
            </div>

            <!-- Número de teléfono celular -->
            <div class="form-group">
                <label for="cellphonenumber">Número de teléfono celular:</label>
                <input type="tel" class="form-control" id="cellphonenumber" name="cellphonenumber" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu número de teléfono celular.
                </div>
            </div>

            <!-- Cubículo -->
            <div class="form-group">
                <label for="cubicle">Cubículo:</label>
                <input type="text" class="form-control" id="cubicle" name="cubicle" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu cubículo.
                </div>
            </div>

            <!-- Usuario -->
            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu nombre de usuario.
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu dirección de correo electrónico.
                </div>
            </div>

            <!-- Contraseña -->
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="invalid-feedback">
                    Por favor, ingresa tu contraseña.
                </div>
            </div>

            <!-- Rol (desplegable) -->
            <div class="form-group">
                <label for="role">Rol:</label>
                <select class="form-control" id="role" name="role" required>
                    {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Por favor, selecciona un rol.
                </div>
            </div>

            <!-- Facultad (desplegable) -->
            <div class="form-group faculty-select">
                <label for="faculty">Facultad:</label>
                <select class="form-control" id="faculty" name="faculty">
                    <option value="" selected disabled>Selecciona una facultad (obligatorio)</option>
                    {% for faculty in faculties %}
                        <option value="{{ faculty.id }}">{{ faculty.name }} - {{ faculty.acronym }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
