/* static/styles.css */

body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .form-container,
  .points-container {
    width: 45%;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  