<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Gestión de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand text-white" href="{% url 'home' %}">MANTENTE SEGURO UNL</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            Nombre del Usuario
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                            <a class="dropdown-item" href="{% url 'modifyInformationUser' %}">Modificar Informacion de Usuario</a>

                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

<div class="container mt-5">
    <h2 class="text-center">Panel de Gestión de Usuarios</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID_USUARIO</th>
                    <th>Nombre</th>
                    <th>Apellido</th> 
                    <th>Cedula</th>
                    <th>Teléfono</th> 
                    <th>Aula Cubículo</th> 
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                <tr>
                    <td>{{ person.user.id }}</td>
                    <td>{{ person.user.first_name }}</td>
                    <td>{{ person.user.last_name }}</td>
                    <td>{{ person.dni }}</td>
                    <td>{{ person.cellphoneNumber }}</td>
                    <td>{{ person.cubicle }}</td>
                    <td>{{ person.user.is_active }}</td>
                    <td>
                        <form method="post" action="{% url 'updateStateUser' person.user.id %}">
                            {% csrf_token %}
                            {% if person.user.is_active %}
                                <button type="submit" class="btn btn-danger">Deshabilitar</button>
                            {% else %}
                                <button type="submit" class="btn btn-success">Habilitar</button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var urlParams = new URLSearchParams(window.location.search);
        var message = urlParams.get('message');

        if (message) {
            alert(message);
        }
    });
</script>

</body>
</html>